@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

.container {
  width: 100%;
  margin: 0 auto;
}

.card {
    border: none;
    width: 500px;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsl(120, 1%, 72%);
    background: linear-gradient(90deg, hsl(120, 3%, 79%) 0%, rgb(154, 168, 177) 100%);

    border-radius: 10px;

}

.card h1, h6, span {
    color: #000;
    font-family: 'Roboto Serif', serif;
    font-size: 1rem;
}

h2 {
    font-family: 'Roboto Serif', serif;
    font-size: 2rem;
    color: #000;
}

// .text-danger {
//     color: red;
// }

label {
    color: #000;
    font-family: 'Roboto Serif', serif;
    font-size: 1rem;
}

a {
    color: #fff;
    margin-top: 10px;
}

a:hover {
    color: goldenrod;
}

button {
    margin-right: 10px;
    font-family: 'Roboto Serif', serif;
}

span {
    margin-top: 10px;
}
span button {
    font-family: 'Roboto Serif', serif;
}
