@import '../styles.scss';

mat-toolbar {
    background: #003800;
    color: white;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

mat-toolbar span h1 {
    color: #fff;
    font-family: 'Philosopher', serif;
    font-size: 2rem;
    margin-left: 30px;
    margin-top: 20px;
}

mat-toolbar span h6 {
    color: #fff;
    font-family: 'Roboto Serif', serif;
    font-size: 0.9rem;
    margin-left: 30px;
    margin-top: 5px;
}

.button-spacer {
    flex: 1 1 auto;
}

span img {
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 5px;
    margin-top: 10px;
}

mat-sidenav {
    margin: 16px;
    width: 190px;
    border-right: none;
    background: #003800;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-sidenav div {
    margin: 0px;
}

.content {
    height: calc(100% - 40px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100% - 150px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto Serif', serif;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.menu-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-family: 'Roboto Serif', serif;

    mat-icon {
        margin-right: 8px;
        margin-left: 10px;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

button {
    font-family: 'Roboto Serif', serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
  background-color: #fff;
  color: #003800;
  transition: 0.7s ease-in-out;
}

button:active {
  background-color: #fff;
  color: #000000;
}

button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 1px #a7011d;
  background-color: #fff;
  color: #000;
}

.menu-app {
    margin-left: 0px;
    font-size: 1rem;
}

// Medium size screen devices

@media (max-width: 768px) {

    mat-toolbar {
        border-radius: 0px;
        height: 100px;
    }

    mat-toolbar span h1 {
        color: #fff;
        font-family: 'Philosopher', serif;
        font-size: 1.8rem;
        margin-left: 15px;
        margin-top: 35px;
    }

    mat-toolbar span h6 {
        color: #fff;
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        margin-left: 15px;
        margin-top: 0px;
    }

    span img {
        margin-top: 20px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    span h1 {
        margin-top: 7px;
        margin-bottom: 0px;
    }

    span h6 {
        margin-bottom: 10px;
    }
}

// Small screen devices

@media (max-width: 599px) {

    mat-toolbar {
        border-radius: 0px;
    }

    .mat-header {
        background: #003800;
        height: 15%;
    }

    mat-toolbar span h1 {
        color: #fff;
        font-family: 'Philosopher', serif;
        font-size: 1.2rem;
        margin-left: 10px;
        margin-top: 10px;
    }

    mat-toolbar span h6 {
        color: #fff;
        font-family: 'Roboto Serif', serif;
        font-size: 0.7rem;
        margin-left: 10px;
        margin-top: -4px;
    }

    span img {
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    span h1 {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    span h6 {
        margin-bottom: 10px;
    }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;

  /* Fade in tooltip */
  opacity: 0;
  transition: ease-in-out opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}